@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* 2. Import dan konfigurasi utama Tailwind */
@import "tailwindcss";

/* Path untuk dipindai */
@source '../views/**/*.blade.php';
@source '../js/**/*.vue';
@source '../js/**/*.ts';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-outfit: "Outfit", sans-serif;
    --font-jost: "Jost", sans-serif;
    --color-beige: #f5f5dc;
    --color-linen: #faf0e6;
    --color-coklat: #523433
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.animate-shimmer {
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    background-size: 200px 100%;
    animation: shimmer 2s infinite;
}
